<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Google Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  	<!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet"> 

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- MY CSS -->
    <link rel="stylesheet" type="text/css" href="agenda.css">

    <title>Agenda</title>
</head>

<body>
	
		
	<header>
		<span class="material-icons" id="header_icon"> calendar_today </span>
		<h1> Agenda </h1>
	</header>



	<div id="app1">

		<section id="select_usr" v-if="usuario_actual.nombre_usuario == '' ">
			
			<span id="id1_01" class="input-group mb-3 mt-3 float-start">
				<span class="input-group-text">
					<span id="id1_011" class="material-icons">login</span>
					<b > Usuario: </b>
				</span>
				<input type="text" class="form-control" v-model="usuario_a_elegir" placeholder="Usuario">
				<button class="btn btn-outline-primary" @click="{form_nuevo_usuario=false, set_usuario_actual()}">Seleccionar</button>
			</span>

			<button class="btn btn-outline-primary mt-3 float-end" @click="{form_nuevo_usuario=true, usuario_a_elegir=''}">
			<i class="material-icons"> person_add </i>
			</button>

			<p style="clear:both;"></p>
			<div id="id1_02" v-if="form_nuevo_usuario">
				
				<span class="material-icons float-end cursor_pointer" @click="form_nuevo_usuario=false">highlight_off</span>
				
				<form action="">
					<div id="id1_03" class="input-group mb-3">
						<span class="input-group-text" >Nombre de usuario</span>
						<input type="text"  v-model="usuario_nuevo.nombre_usuario" class="form-control" placeholder="usuario" required pattern="[a-zA-Z0-9]+" title="Debe ser alfanumérico">
					</div>
					<button class="btn btn-warning" @click="crear_cuenta"> Crear </button>
				</form>
			</div>

		</section>



		<section id="agenda_usr"  v-if="usuario_actual.nombre_usuario != ''">

			<div id="id2_01">
				<i id="id2_011" class="material-icons"> account_circle </i>
				<b>Cuenta: {{usuario_actual.nombre_usuario}}
				<span id="id2_02" class="material-icons float-end cursor_pointer" @click="usuario_actual.nombre_usuario=''">logout</span></b>
			</div>


			<table id="id_table" class="table table-bordered table-hover">

				<tr id="id2_03" class="m-3" v-for="dia of dias" >

					<td id="id2_04" v-if="!form_nuevo_evento || dia_del_nuevo_evento!=dia" class="table-dark"> <b> {{dia}} </b> </td>
					

					<td v-if="!form_nuevo_evento || dia_del_nuevo_evento!=dia" >

						<button class="btn mx-1" id="id2_04_2" 
						v-for="ev of eventos_usuario_actual" 
						:class="ev.pendiente ? 'btn-outline-danger' : 'btn-outline-success'"  v-if="ev.dia == dia" 
						@click="{mostrar_evento=true, show_event(ev)}"  
						data-bs-toggle="modal" data-bs-target="#show_event"> 
							<div><b>{{ev.titulo}}</b></div>  <div>{{ev.hora}}</div>
						</button>

					</td>


					<td id="id2_05" v-if="!form_nuevo_evento || dia_del_nuevo_evento!=dia"> <button class="btn btn-secondary" @click="{form_nuevo_evento=true, dia_del_nuevo_evento=dia}">
						<i class="material-icons">add_circle_outline</i> </button> 
					</td>


					<td colspan="3" v-if="form_nuevo_evento && dia_del_nuevo_evento==dia">

						<form id="nuevo_evento" class="p-3">

							<span  class="material-icons float-end cursor_pointer" @click="form_nuevo_evento=false">highlight_off</span>

							<div class="input-group mb-3" style="width: 22%">
								<span class="input-group-text">Hora</span>
								<input v-model="hs" type="text" class="form-control" placeholder="hs" required>
								<span class="input-group-text">:</span>
								<input v-model="mm" type="text" class="form-control" placeholder="mm">
							</div>

							<div class="input-group mb-3" style="width: 50%">
								<span class="input-group-text">Titulo</span>
								<input v-model="titulo" type="text" class="form-control" required>
							</div>

							<div class="input-group mb-3" style="width: 70%">
							  <span class="input-group-text">Descripcion</span>
							  <textarea v-model="descripcion" class="form-control"></textarea>
							</div>

							<button class="btn btn-warning" @click="{form_nuevo_evento=false, nuevo_evento(dia)}"> Añadir </button>

						</form>

					</td>

				</tr>

			</table>



			<!-- Modal -->
			<div class="modal fade" id="show_event" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      
			    	<div class="modal-header">
			        
				        <h5 class="modal-title" id="exampleModalLabel" v-if="!editar_evento"><b>{{a_mostrar_titulo}}</b></h5>
				        
				        <div class="input-group mb-3" style="width: 50%"  v-if="editar_evento">
							<span class="input-group-text">Titulo</span>
							<input v-model="a_mostrar_titulo" type="text" class="form-control" required>
						</div>

				        <button type="button" class="btn-close" @click="editar_evento=false" data-bs-dismiss="modal" aria-label="Close"></button>

			    	</div>


			    	<div class="modal-body" v-if="!editar_evento">
				        <p>{{a_mostrar_dia}}</p>
				        <p>{{a_mostrar_hora}}</p>
				        <p>{{a_mostrar_descripcion}}</p>
			    	</div>


			    	<div class="modal-body" v-if="editar_evento">
				        
				        <div class="input-group mb-3" style="width: 50%"  v-if="editar_evento">
							<span class="input-group-text">Dia</span>
							<input v-model="a_mostrar_dia" type="text" class="form-control" required>
						</div>

						<div class="input-group mb-3" style="width: 50%">
							<span class="input-group-text">Hora</span>
							<input v-model="a_mostrar_hs" type="text" class="form-control" required>
							<span class="input-group-text">:</span>
							<input v-model="a_mostrar_mm" type="text" class="form-control">
						</div>


						<div class="input-group mb-3" style="width: 70%">
						  <span class="input-group-text">Descripcion</span>
						  <textarea v-model="a_mostrar_descripcion" class="form-control"></textarea>
						</div>

						<button type="button" class="btn btn-primary" 
						@click="{editar_evento_actual(), editar_evento=false}">Guardar Cambios</button>

			    	</div>
			      

			    	<div class="modal-footer">

				        <button type="button" class="btn btn-secondary" @click="editar_evento=false" data-bs-dismiss="modal">Close</button>
				        
				        <button type="button" class="btn btn-primary" @click="editar_evento=true">Editar</button>
				        
				        <button type="button" class="btn btn-success" @click="{set_evento_hecho(),editar_evento=false}" data-bs-dismiss="modal" v-if="a_mostrar_pendiente">
				        	<span class="material-icons">done</span>
				        </button>
				        
				        <button type="button" class="btn btn-danger" @click="{eliminar_evento(),editar_evento=false}" data-bs-dismiss="modal">
				        	<span class="material-icons">delete</span>
				        </button>

			    	</div>

			    </div>
			  </div>
			</div>

		</section>


	</div>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="agenda.js"></script>
</body>
</html>
